.msg {
    margin-top: 40px;
    margin-bottom: 74px;
}

.msg h2 {
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 42px;
    color: #10151F;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
}

.msg p {
    color: #3E424A;
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

}

.continueBtn {
    background-color: #FF4000;
    width: 214px;
    height: 41px;
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    color: white;
    line-height: 100%;
    letter-spacing: 0%;
    opacity: 1;
    top: 404px;
    left: 331px;
    gap: 10px;
    border-radius: 10px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-bottom: 145px;

}

.modal{

width: 876px;
height: 590px;
background-color: white;
align-items: center;
display: flex;
flex-direction: column;
border-radius: 2px;
    


}

.removeModal{
    width: 590px;
    align-items: start;
    justify-content: end;
    display: flex;
    margin-right: 30px;
    margin-bottom:80px ;
    background-color: white;
    margin-top: 30px;
    margin-left: 180px;
    cursor: pointer;
}