*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    border:none;
   
}
input, button{
    cursor:pointer
}



body{
    max-width: 1920px;
    max-height: 1080px;
    margin:0 auto;
}
